
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.main-body {
    max-width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 133);
}

#navbar {
    background-color: rgb(28, 28, 133);
    height: 90px;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgba(180, 168, 168, 0.211);
}

#navbar button {
    width: auto;
    height: 40px;
}

.contents {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 250px;
}

.picture {
    max-width: 500px;
    max-height: 500px;
}

.picture img {
    width: 100%;
}

.text h2 {
    color: white;
    font-size: 45px;
    line-height: 1.4;
}
.text p {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.563);
    font-size: 17px;
}

.text button {
    margin-top: 15px;
    padding: 5px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    cursor: pointer;
}
.text button:hover{
    background-color: rgb(186, 140, 25);
}

.footer {
    padding: 100px;
    /* margin-bottom: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.first-footer {
    margin-right: 100px;
}

.first-footer p {
    font-size: 15px;
}

.second-footer {
    display: flex;
}

.second-footer .items {
    margin-right: 40px;  
}

.second-footer .items h5 {
    font-size: 18px;
}

.second-footer .items label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.459);
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 3px 4px;
    border-radius: 50%;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  


@media screen and (max-width: 1410px){
    .contents {
        padding-left: 200px;
        padding-right: 200px;
    }
    .picture {
        max-width: 450px;
        max-height: 450px;
    }
}
@media screen and (max-width: 1290px){
    .contents {
        padding-left: 150px;
        padding-right: 150px;
    }
    
}
@media screen and (max-width: 1200px){
    .picture {
        max-width: 350px;
        max-height: 350px;
    }
}
@media screen and (max-width: 1200px){
    .picture {
        max-width: 330px;
        max-height: 330px;
    }
}
@media screen and (max-width: 1090px){
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
        padding-bottom: 150px;

    }
    .picture {
        margin-top: 100px;
        max-width: 400px;
        max-height: 400px;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}
@media screen and (max-width: 620px) {
    .picture {
        max-width: 350px;
        max-height: 350px;
    }
    .main-body {
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .first-footer {
        margin: 0;
    }
    #navbar {
        padding: 15px;
        height: 100px;
        
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 620px) {
    .picture {
        max-width: 300px;
        max-height: 300px;
    }
    .main-body {
        width: 100%;
    }
   
    #navbar {
        padding: 15px;
        height: 150px;  
    }
    .contents {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text button {

    }

}
@media screen and (max-width: 400px) {
    
    .second-footer {
        margin-left: 40px;
    }
}